.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  h5 {
    margin: 8px 0;
  }

  .app-sidenav {
    mat-form-field {
      display: block;
      padding: 16px;
    }

    .spinner-container {
      display: flex;
      align-items: center;
    }

    .spinner-container > span {
      flex: 1;
    }
  }
}
